  body {
    font-family: "Microsoft JhengHei", Arial;
    margin: 0; /*邊距*/
    padding: 0;
    background-color: #fff;
  }
  footer {
    grid-area: footer;
    background-color: #f5f5f5;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
  }
  



  header {
    position: sticky;
    background-image: linear-gradient( #f5f5f5 90%, #ffffff00 100%);
    text-align: center;
    padding: 3px;
    top: 0;
  }





  /*導覽欄*/

  nav {
    background-color: rgb(90, 201, 232);
    padding: 5px;/*內距*/
    overflow: hidden;
    border-radius: 10px; 
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none; /* 移除預設的清單樣式 */
  }
  
  li {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /*移除連結底線*/
    min-width: 100px;
    max-width: 100px;
  }
  
  li:hover {
    background-color: rgba(73, 156, 179, 0.579);
    border-radius: 10px;
  }
  
  .twoul{
    display: none; /* 隱藏子選單 */
    position: fixed; /* 將元素固定在視窗的指定位置 */
  }
    
  li:hover .twoul {
    display: block; /* 當滑鼠移至父選單時，顯示子選單 */
    background-color: rgb(73, 156, 179);
    border-radius: 10px;  
    list-style-type: none;
    top: 205px;
    left: 140px;
    width: 133px;
    text-align: left; /* 設定文字靠左對齊 */
  }

  li:hover .twoul :hover {
    background-color: rgb(0, 68, 87);
    border-radius: 10px;
  }

  a {
    color: #fff;
    text-decoration: none; /*移除連結底線*/
    font-size: 20px;
    font-weight: bold;
  }
  
  
  
  

  

  /*文字部分*/
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 24px;
    border-radius: 10px;
    padding: 8px; /*內距*/
  }
  h3{
    font-size: 20px;
    line-height: 1.5;
    padding: 8px
  }
  p {
    font-size: 18px;
    line-height: 2;
    padding: 8px
  }
  
  
  
  
  

  




  /*區域分割*/
  .grid-container {
    display: grid;  
    gap: 5px; /* 欄位之間的間距 */
    grid-template-areas: "left right"; /* 指定區域名稱 */
  }

  @media (max-width: 900px) {
    .grid-container {
      grid-template-areas: "right" "left" ; /* 指定區域名稱 */
    }
  }


  /* 區域 */
  .left {
    grid-area: left; /* 將元素定位到left區域 */
    background-color: #fffffa; /* 背景顏色 */
    margin: 10px;
    border: 1px solid #d7d7d7;
    border-radius: 10px ; /* 圓角半徑 */
    padding: 8px;
  }
  .right {
    margin: 30px; /*邊距*/
    grid-area: right; /* 將元素定位到right區域 */
    background-image: url('CAPOOUI.png');
    background-repeat: no-repeat;
    background-position: top,center;
    background-size: contain; /*將背景圖完整呈現*/
    min-width: 450px;
  }

  aside a {  
    color: rgb(90, 201, 232);
    padding: 10px;
    text-align: center;
    text-decoration: none; 
  }  
  aside a:hover { 
    color: rgba(73, 156, 179, 0.579);
  }


  table{
    width: 100%; /* 設置表格寬度為 100% */
    font-size: 20px;
    text-align: center; /* 表格內容置中對齊 */
  }
  
  img {
    border-radius: 10px;  
    display: block;
    margin: 20px auto;
  }


  /*顯示區域變更*/
  .block
  {
    flex-basis: 24%;
    padding: 3px;
  }
  @media (max-width: 1830px) {
    .block {
      flex-basis: 48%; /* 在屏幕宽度小于 768px 时，将 flex-basis 的值改为 48% */
    }
  }

 
  

  
  